
<div class="row align-center">
  <div class="col-md-10 offset-md-1">
    <h1>Edit Message</h1><br>
    <%= render partial: 'messageinfo', locals: {user: @message.user, friend: @message.friend} %>
    <h5>Content</h5>
    <% if flash[:warning] %>
        <p class="text-danger"><%= flash[:warning] %></p>
    <% end %>
    <%= render partial: 'form', locals: {user: @user, friend: @message.friend, message: @message}%>
    <%= link_to "Delete", message_path(@message), method: :delete, class: "badge badge-pill badge-secondary"%><%= link_to 'View all messages', user_messages_path(current_user), class: "badge badge-pill badge-info"%>
  </div>
</div>
