<h1 class="text-center text-info">Messages</h1>
<hr>

<%# left pane: display avatar and email of a friend %>
<div class="row messagepage">
  <div class="col-sm-2">
    <div class="scrollit">
      <table class="table table-bordered">
        <tbody>
            <% @uniq_users.each_with_index do |user, index|  %>
            <tr>
              <% if index == 0 %>
              <td class="choice text-center" id="defaultOpen" data-friend="<%= user.id %>" data-user="<%= session[:current_user_id] %>">
                <span><img src="<%= user.image %>"></span><br>
                <span><%= user.username  %></span>
              </td>
              <% else %>
              <td class="choice text-center" data-friend="<%= user.id %>" data-user="<%= session[:current_user_id] %>">
                <span><img src="<%= user.image %>"></span><br>
                <span><%= user.username  %></span>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-1"></div>
  <%# right pane: display chats between the selected friend and current_user %>
  <div class="col-8">
    <div class='messagedivs scrollit'></div>
    <div class='formdiv'>
        <%= form_for(Message.new) do |m| %>
        <%= m.hidden_field :user_id, value: current_user.id %>
        <%= m.hidden_field :friend_id, value: 1 %>
        <%= m.text_area :content, size: '70x1', class: 'form-control'%>
        <%= m.submit 'Send',  class: 'btn btn-primary btn-sm sendbutton'%>
        <span class="message_error"></span>
      <% end %>
    </div>
  </div>
</div>

<%# Handlebars template for opening user messages %>
<script id="open-message-template" type="text/x-handlebars-template">
  <div class="">
    <table class="table">
      <tbody class="trmessages">
        {{#each this}}
          <tr>
            <td class='avatar'><img src="{{user.image}}"></td>
            <td>
              <span class="msgtime" style="font-size: 10px">{{posted_at}}</span>
              <div class="post-{{id}}">{{content}}</div>        
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>


<%# Handlebars template for adding user new message %>
<script id="new-message-template" type="text/x-handlebars-template">
  <tr>
    <td class='avatar'><img src="{{userimg}}"></td>
    <td>
      <span class="msgtime" style="font-size: 10px">{{posted_at}}</span>
      <div class="post-{{id}}">{{content}}</div>        
    </td>
  </tr>
</script>
