<% if flash[:message] %>
    <div class="alert alert-success"><%= flash[:message] %></div>
<% end %>
<div class="row align-center">
  <div class="col-md-10 offset-md-1">
    <%= render partial: 'messageinfo', locals: {user: @message.user, friend: @message.friend} %>
    <div><h5>Content</h5></div>
    <div style="font-size: 0.7em"><%= @message.updated_at.strftime('%c') %></div>
    <div><%= @message.content %></div>
    <br>
    <% if @message.user == current_user%>
      <div><%= link_to 'Edit', edit_message_path(@message), class: "badge badge-pill badge-secondary"%><%= link_to "Delete", message_path(@message), method: :delete, class: "badge badge-pill badge-secondary"%></div>
    <% else %>
      <h5>Reply</h5>
      <% if flash[:warning] %>
          <p class="text-danger"><%= flash[:warning] %></p>
      <% end %>
      <%= render partial: 'form', locals: {user: current_user, friend: @message.user, message: current_user.messages.build} %>
    <% end %>
    <%= link_to 'View all messages', user_messages_path(current_user), class: "badge badge-pill badge-info"%>
  </div>
</div>
