<h1>Log In</h1>

<%= form_for @user do |f| %>
<%= render 'form' %>
<%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>

<p><strong>Or, <%= link_to('Log in with Facebook!', '/auth/facebook') %></strong></p>

<p><strong>New User? <%= link_to "Sign Up", signup_path %></strong></p>
