<% if flash[:message] %>
    <div class="alert alert-success"><%= flash[:message] %></div>
<% end %>

  <div class="row">
    <aside class="col-md-4">
      <section>
          <%= render partial: 'users/userinfo', locals: {user: @user}%>
      </section>
      <hr>
      <section>
        <h4 class="text-info">What is on your mind:</h4>
        <% if flash[:warning] %>
            <p class="text-danger"><%= flash[:warning] %></p>
        <% end %>
        <%= render partial: 'posts/form', locals: {post: @post, size: '35x8'}%>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render partial: 'posts/allfeeds', locals: {feeds: @feeds, user: @user} %>
    </div>
  </div>

  <%# <div class='popupMessage'></div> %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      //check the content of the post to send warning or success.
      event.preventDefault();
      //TODO: event.preventdefault take control of form field. Rescue it
      Swal.fire({
        type: 'success',
        title: 'Your post has been uploaded',
        showConfirmButton: false,
        timer: 1500
      })
    });
  });
</script>