<% if flash[:message] %>
    <div class="alert alert-success"><%= flash[:message] %></div>
<% end %>


  <div class="container">
    <div class="row">
      <div class="col-sm-1.5">
        <img src="<%= @user.image %>" style="width: 80px">
      </div>
      <div class="col-sm-9" style="font-size: 1em">
        <p></p>
        <strong><div><%= @user.username %></div></strong>
        <div><%= @user.email %></div>
        <div><%= link_to 'Update Profile', edit_user_path(@user) %></div>
      </div>
    </div>
    <hr>
    <div style="max-width: 80%">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th class="text-center text-info"><h3>New Feeds</h3></th>
          </tr>
        </thead>
        <tbody>
        <% @feeds.each do|f|%>
          <tr>
            <td><img src="<%= f.user.image %>" style="width: 50px"></td>
            <td>
              <span><%= link_to f.user.username, '#'%></span>
              <span style="font-size: 0.6em"> Posted <%= f.created_at.strftime('%c') %>
                <% if f.user == @user %>
                <strong><%= link_to "Delete", post_path(f), method: :delete%></strong>
                <% end %>
              </span>
              <div><%= f.pcontent %></div>
            </td>
          </tr>
        <% end %>
          <tr>
            <td></td>
            <td class="text-center"><%= link_to 'View all feeds', '#', class: "justify-content-center"%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
