<% if flash[:message] %>
    <span class="text-success"><%= flash[:message] %></span>
<% end %>
<div class="row">
    <aside class="col-md-3">
      <section>
          <%= render partial: 'users/userinfo', locals: {user: @user}%>
      </section>
      <hr>
      <section>
        <h4 class="text-info">What is on your mind:</h4>
        <p class="post_error"></p>
        <%= render partial: 'posts/form', locals: {post: @post, size: '38x8'}%>
      </section>
    </aside>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <br>
      <h3 class="text-center text-info"  colspan="2">New Feeds</h3>
      <hr>
      <%= render partial: 'posts/posts', locals: {feeds: @feeds, user: @user} %>
      <%= will_paginate @feeds, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
