<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render partial: 'userinfo', locals: {user: @user} %>
    </section>
    <hr>
    <section>
      <% if @user == current_user %>
        <h4><%= link_to "Add more friends", users_path, class: 'badge badge-secondary' %></h4>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center text-info" colspan="4"><h3>Friends Page</h3></th>
          </tr>
        </thead>
        <tbody>
          <% @friends.each do |f| %>
            <tr class="align-items-center">
              <td class='avatar'>
                <img src="<%= f.friend.image %>" style="width: 40px">
              </td>
              <td>
                <%= link_to f.friend.username, user_path(f.friend), class: 'showUser'%>
                <div><%= f.friend.email %></div>
              </td>
              <% if @user == current_user %>
                <td><%= link_to "Send a message", new_user_message_path(f.friend), class: 'badge badge-info' %></td>
                <td><%= link_to 'Unfriend', connection_path(f), method: :delete, class: 'badge badge-secondary unfriend'%></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @friends, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </section>
  </div>
</div>

<div class="row showFriendProfile"></div>
