<div class="row align-center">
  <div class="col-md-8 offset-md-2">
    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center text-info" colspan="3"><h2>User List</h2></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |f| %>
            <tr class='user_list'>
              <td>
                <img src="<%= f.image %>" style="width: 50px">
              </td>
              <td class="text-center">
                <span><%= link_to f.username, user_path(f)%></span>
                <div><%= f.email %></div>
              </td>
              <td>
                <div><%= render partial: 'connections/addfriend', locals: {friend: f, connection: current_user.connections.build} %></div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      <div>
        <%= link_to 'View all friends', friends_path(current_user), class: "badge badge-pill badge-info"%>
      </div>
    </section>
  </div>
</div>
