<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render partial: 'userinfo', locals: {user: @user} %>
    </section>
    <hr>
    <section>
      <div><strong><%= link_to "Friends (#{@user.friends.count})", friends_path(@user) %></strong></div>
      <% if @user.friend_with?(current_user) %>
        <div><%= link_to "Send a message", new_user_message_path(@user), class: 'btn btn-info btn-sm' %></div>
        <div><strong><%= link_to 'Unfriend', connection_path(@connection), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-primary btn-sm'%></strong></div>
      <% elsif @user.not_a_friend?(current_user) %>
        <%= render partial: 'connections/addfriend', locals: {friend: @user, connection: current_user.connections.build} %>
      <% elsif @user == current_user %>
        <div><strong><%= link_to "Messages (#{@allmessages})", user_messages_path(@user)%></strong></div>
        <div><strong><%= link_to 'Update Profile', edit_user_path(@user), class: 'btn btn-info btn-sm' %></strong></div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <br>
    <h3 class="text-center text-info"  colspan="2">Posts</h3>
    <hr>
    <%= render partial: 'posts/posts', locals: {feeds: @user.posts, user: @user} %>
  </div>
</div>
