<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render partial: 'userinfo', locals: {user: @user} %>
    </section>
    <hr>
    <section>
      <div><strong><%= link_to "Friends List", friends_path(@user), class: 'btn btn-secondary btn-sm'%></strong></div>
      <div class='new_friend'>
        <% if @user.friend_with?(current_user) %>
          <div><a class="btn btn-info btn-sm" href="/users/<%= @user.id %>/messages/new">Send a message</a></div>
          <div><strong><a class="btn btn-primary btn-sm  unfriend" rel="nofollow" data-method="delete" data-id="<%= @user.id %>" data-user="<%= current_user.id %>" href="/connections/<%= @connection.id %>">Unfriend</a></strong></div>
        <% elsif @user.not_a_friend?(current_user) %>
            <%= render partial: 'connections/addfriend', locals: {friend: @user, connection: current_user.connections.build} %>
      </div>
      <% elsif @user == current_user %>
        <div><strong><%= link_to "View Messages", user_messages_path(@user), class: 'btn btn-success btn-sm'%></strong></div>
        <div><strong><%= link_to 'Update Profile', edit_user_path(@user), class: 'btn btn-info btn-sm' %></strong></div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <br>
    <h3 class="text-center text-info"  colspan="2">Posts</h3>
    <hr>
    <%= render partial: 'posts/posts', locals: {feeds: @user.posts, user: @user} %>
  </div>
</div>
