
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div>
      <h5 class="text-danger">Uh oh, something went wrong.</h5>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <p><%= f.text_area :content, size: size %></p>
  <%= f.submit  class: 'btn btn-primary newpost' %>
<% end %>
