<table class="table table-striped">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody class="homepage_feeds">
    <% feeds.each do |f| %>
      <tr class='post_parent'>
        <td class='avatar'><img src="<%= f.user.image %>" style="width: 50px"></td>
        <td>
          <span><%= link_to f.user.username, user_path(f.user)%></span>
          <span style="font-size: 0.6em">
            Posted <%= f.updated_at.strftime('%c') %>
            <% if f.user == current_user %>
            <strong>| <a href="/posts/<%= f.id %>/edit" class='edit_post_homepage' data-id="<%= f.id %>">Edit</a> |</strong>
            <strong><a href="/posts/<%= f.id %>" class="delete_post" rel="nofollow" data-method="delete">Delete</a></strong>
            <% end %>
          </span>
          <div class="post-<%= f.id %>"><%= f.content %></div>        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script id="post-template" type="text/x-handlebars-template">
  <tr class='post_parent'>
    <td class='avatar'><img src="{{userimg}}" style="width: 50px"></td>
    <td>
      <span><a href="/users/{{userid}}">{{username}}</a></span>
      <span style="font-size: 0.6em">
        Posted {{posted_at}}
        <strong>| <a href="/posts/{{id}}/edit" class='edit_post_homepage' data-id="{{id}}">Edit</a> |</strong> 
        <strong><a href="/posts/{{id}}" class="delete_post" rel="nofollow" data-method="delete">Delete</a></strong>
      </span>
      <div class="post-{{id}}">{{content}}</div>        
    </td>
  </tr>
</script>

<script id="edit-post-template" type="text/x-handlebars-template">
  <form>
  <input type='text' data-id="{{id}}" class="form-control postcontent" value="{{content}}">
  <button type='button' class='badge badge-pill badge-info editpost' onClick='editpost()'>Update</button> 
  <button type='button' class='badge badge-pill badge-warning canceledit' onClick='canceledit()'>Cancel</button>
  </form>
</script>