<!DOCTYPE html>
<html>

<head>
  <title>Wetext</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
</head>

  <body>
    <nav class="site-header sticky-top py-1" style="background-color: #464849;" >
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <% if current_user %>
          <strong><%= link_to "wetext", root_path, class: "py-2 d-none d-md-inline-block font-weight-bold" %></strong>
          <%= link_to "My profile", user_path(current_user), class: "py-2 d-none d-md-inline-block" %>
          <%= link_to "Messages", user_messages_path(current_user), class: "py-2 d-none d-md-inline-block" %>
          <%= link_to "Friends", friends_path(current_user), class: "py-2 d-none d-md-inline-block" %>
          <%= link_to "Log Out", logout_path, method: :delete, class: "py-2 d-none d-md-inline-block" %>
        <% else %>
          <li class="py-2 d-none d-md-inline-block font-weight-bold">Howdy! It is nice to meet you </li>
        <% end %>
      </div>
    </nav>
    <br>
    <div class="container" style="background: #f3f4f4; max-width: 80%">
      <%= yield %>
    </div>
    <br>


    <script id="new-friend-template" type="text/x-handlebars-template">
      <div><a class="btn btn-info btn-sm" href="/users/{{friend_id}}/messages/new">Send a message</a></div>
      <div><strong><a class="btn btn-primary btn-sm  unfriend" rel="nofollow" data-method="delete" data-id="{{friend_id}}" href="/connections/{{id}}">Unfriend</a></strong></div>
    </script>

    <script id="remove-friend-template" type="text/x-handlebars-template">
      <%= form_for(current_user.connections.build)  do |c| %>
      <%= c.hidden_field :user_id, value: current_user.id %>
      <%= c.hidden_field :friend_id, value: "{{friendId}}" %>
      <%= c.submit 'Add friend', class: "btn btn-primary btn-sm addfriend" %>
      <% end %>
    </script>

    <script id="friend-profile-template" type="text/x-handlebars-template">
      <aside class="col-md-4 align-self-center">
        <section>
          <img src="{{image}}" class="avatar">
          <h4>{{username}}</h4>
          <div>{{email}}</div>
        </section>
      </aside>
      <div class="col-md-8">
        <br>
        <h3 class="text-center text-info"  colspan="2">Posts</h3>
        <hr>
          {{#each posts}}
          <span style="font-size: 0.6em">
            Posted {{posted_at}}
          </span>
          <div class="post-{{this.id}}">{{content}}</div>        
        {{/each}}
      </div>
    </script>
  </body>

</html>